@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


.banner header{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;  
	display: flex;	
	justify-content: space-between;
	padding: 40px 100px; 
	z-index: 1000;
	transition: 0.6s;
}
.banner header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition:0.6s;
}
.banner header #toggle{
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.banner header #toggle:before
{
	content: '';
	position: absolute;
	top: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
.banner header #toggle:after
{
	content: '';
	position: absolute;
	bottom : 7px;
	width: 100%;
	height: 2px;	
	background: #fff;
}
.banner.active header #toggle:before
{
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.banner.active header #toggle:after
{
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}
.banner{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	background: url("../black.jpg");
	background-size: cover;
	display: flex;
	align-items: center;
	transition: 0.5s;
	z-index: 2; 
}
.banner.active{
	transform: translateX(-400px);
}
#navigation{
	position: fixed;
	top: 0;
	right:0px;
	width:400px;
	min-height: 100vh;
	background: #40c3ff;
	z-index: 1;
	display: grid;
	place-items:center;
	transform: 0.5s;
}

#navigation.active
{
	right: 0;
}
#navigation ul{
	position: relative;
	display: flex;
	flex-direction: column;
}
#navigation ul li{
	list-style: none;
}
#navigation ul li a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase; 
}
.banner .content{
	max-width: 600px;
}
.content h2{
	color: #fff;
	font-size: 2.5em;
}
.content h2 span{
	color: #40c3ff;
	font-size: 1.2em;
}
.banner .content p{
	font-size: 1.2em;
	color: #fff;
	font-weight: 300;
}
.content a{
	position: relative;
	display: inline-block;
	margin-top: 20px;
	background: #fff;
	color: #000;
	padding: 10px 30px;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 500;
}
.sci{
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 100px;
}
.sci li{
	list-style: none;
}
.sci li a{
	position: relative;
	display: grid;
	place-items:center;
	width: 50px;
	height: 50px;
	text-decoration: none;
	border: 1px solid #fff;
	margin: 10px 0 0;
}

.sci li a:hover{
	background: #fff;
}

.sci li a img{ 
	max-width: 20px;
	filter: invert(1);
	mix-blend-mode: difference;
} 

/*Second Section*/
.aboutsection header{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;  
	display: flex;	
	justify-content: space-between;
	padding: 40px 100px; 
	z-index: 1000;
	transition: 0.6s;
}
.aboutsection header .logo{
	position: relative;
	font-weight: 700;
	color: #000;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition:0.6s;
}
.aboutsection header #toggle{
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.aboutsection header #toggle:before
{
	content: '';
	position: absolute;
	top: 7px;
	width: 100%;
	height: 2px;
	background: #000;
}
.aboutsection header #toggle:after
{
	content: '';
	position: absolute;
	bottom : 7px;
	width: 100%;
	height: 2px;	
	background: #000;
}
.aboutsection.active header #toggle:before
{
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.aboutsection.active header #toggle:after
{
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}
.aboutsection{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	background-color: white;
	display: flex;
	align-items: center;
	transition: 0.5s;
	z-index: 2; 
}
.aboutsection.active{
	transform: translateX(-400px);
}
.aboutsection .content h2 span{
	color: #40c3ff;
	font-size: 1.2em;
	/*text-transform: uppercase;*/
}
.aboutsection .content p{
	font-size: 1.1em;
	line-height: 1.6em;
	color: #000;
	font-weight: 300;
}

.aboutsection .content a{
	background-color: black;
	color: white;
}

/*Education section*/
.education header{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;  
	display: flex;	
	justify-content: space-between;
	padding: 40px 100px; 
	z-index: 1000;
	transition: 0.6s;
}
.education header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition:0.6s;
}
.education header #toggle{
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.education header #toggle:before
{
	content: '';
	position: absolute;
	top: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
}
.education header #toggle:after
{
	content: '';
	position: absolute;
	bottom : 7px;
	width: 100%;
	height: 2px;	
	background: #fff;
}
.education.active header #toggle:before
{
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.education.active header #toggle:after
{
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}
.education{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	background: url("../black.jpg");
	background-size: cover;
	display: flex;
	align-items: center;
	transition: 0.5s;
	z-index: 2; 
}
.education.active{
	transform: translateX(-400px);
}

.card {
    background-color: black;
    border-style: solid;
    border-width: 15px;
    outline: none;
    border-left-color: #40c3ff;
    border-right-color: #40c3ff;
    border-top-color: #40c3ff;

    /*box-shadow: 0 0 5px #40c3ff;*/
}

.studies{
	font-size: 2em;
}

.studies_content{
	font-size: 1.2em;
	color: #40c3ff;
}

.direction{
	float: right;
}



@media (max-width: 767px)
{
	/*First Section*/
	.banner header 
	{
    	padding: 50px;
	}
	.banner {
    	padding: 100px 50px 150px;
    }
    .banner h2{
    	font-size: 1.8em;
    } 
    .banner .content p,
    .banner .content a{
    	font-size: 0.8em;
    }
    .banner.active{
		transform: translateX(-250px);
	}
	#navigation{
		  width: 250px;
	}
	#navigation ul li a{
		font-size: 1.5em;
		margin: 5px o;
	}
	.sci {
		position: absolute;
		bottom: 50px;
		right: initial;
		flex-direction: row;
	}
	.sci li a{
		margin: initial;
		margin-right: 10px;
	}


	/*Second Section*/
	.aboutsection header{
		padding: 50px;
	}	
	.aboutsection {
    	padding: 100px 50px 150px;
    }
    .aboutsection h2{
    	font-size: 1.4em;
    } 
    .aboutsection .content p,
    .aboutsection .content a{
    	font-size: 1em;
    }
    .aboutsection.active{
		transform: translateX(-250px);
	}

	/*Education Section*/
	.education header{
		padding: 50px;
	}	
	.education {
    	padding: 100px 50px 150px;
    }
    .education h2{
    	font-size: 1.4em;
    } 
    .direction{
    	float: left;
    }
}